{% extends "base.html" %}
{% block content %}
<h2>Billing</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label><strong>Select Table</strong></label>
    <select name="table" required>
        {% for table in tables %}
        <option value="{{ table.id }}">
            Table {{ table.table_number }}
        </option>
        {% endfor %}
    </select>
    <button class="btn btn-primary">Generate Bill</button>
</form>

<h3>Existing Bills</h3>

<table>
    <tr>
        <th>Table</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for bill in bills %}
    <tr>
        <td>{{ bill.table.table_number }}</td>
        <td>₹{{ bill.total }}</td>
        <td>
            <span class="badge {{ bill.status }}">{{ bill.status }}</span>
        </td>
        <td>
            {% if bill.status != "PAID" %}
            <a class="btn btn-success" href="/billing/pay/{{ bill.id }}/">
                Mark Paid
            </a>
            {% else %}
            Paid
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
